@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
        background-color: #000000;
        max-width: 100vw;
        width: 100vw;
        color: #ffffff;
}
.firstmain{
                height: 100vh;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    padding: 1rem;
    position: relative;
}
.firstmain article{
    height: 100%;
    max-width: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
    /* .firstmain article::before{
        height: 100%;
        width: 100%;
        position: absolute;
        background-color: #000000;
        content: "";
        opacity: 0.4;
            top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    } */
header{
    top: 25px;
    left:3rem;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    gap: 5rem;
}
header > nav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}
header > nav > a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.8rem;
}
header img{
    height: 30px;
    width: auto;
}
header > p{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    font-weight: 800;
    color: #ffffff;


}
.firstmain article > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.f1{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}

.firstmain article h1{
    font-size: 2.5rem;
    line-height:3rem;
    color: #ffffff;
}
.firstd{
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    padding-left: 2rem;
    gap: 1rem;
    position: absolute;
    right:15px;
    top: 1rem;
}
.firstd button,.f1 button{
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #FF0000;
    color: #ffffff;
    font-weight: 600;


}
.firstd a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    display: grid;
    place-content: center;
}
.firstd a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.second1{
    position: absolute;
    left: 15px;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 0.8rem;
    color: #ffffff;
    padding-right: 3rem;
    padding-top: 1rem;
}
.second1 > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
    align-items: center;
}
.second1 h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.f2{
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    width: 300px;
    padding: 1.5rem;
    border: 1px solid  #ffffff4d;
    border-radius: 0.5rem;
    background: #ffffff26;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #ffffff;
    box-shadow: 0 8px 32px #00000040;


}

@media (max-width: 576px){
    .firstmain{
        height: auto;
        padding:0;
    }
    .firstmain article{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
        align-items: center;
        padding: 0 1rem ;
        z-index: 1;

    }
    header{
        position: static;
        z-index: 2;
        gap: 1rem;
        text-wrap: nowrap;
        width: 100%;
    }
    header > nav{
        gap: 0.5rem;
        flex: 1;
        overflow-x: auto;

    }
    .firstmain br{
        display: none;
    }
    .f1,.f2{
        position: static;
        transform: translate(0);
    }
    .firstd{
        z-index: 3;
        padding-left: 1rem;
        padding-bottom: 1rem;
        top: 0.5rem;
        right: 0.5rem;
    }

    .firstd button{
        padding: 0.5rem 1rem;
    }
    .second1{
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: #000000;
        border-radius: 1rem 1rem 0 0;
        padding: 1.5rem;
        width: 95%;
        z-index: 3;
        text-align: center;
    }



}

